# =========================
# FRONTEND
# =========================
**/node_modules/
**/dist/
.vite/

# =========================
# PYTHON
# =========================
**/__pycache__/
*.pyc
*.sqlite3

# Entornos virtuales
venv/
.env

# =========================
# EDITORES
# =========================
.vscode/

# =========================
# LOGS
# =========================
*.log

# =========================
# SISTEMA
# =========================
Thumbs.db
.DS_Store

# =========================
# CACHE
# =========================
.parcel-cache/

# =========================
# RESPALDOS LOCALES
# =========================
PROYECTO_frontend/project_SICA_backup/