body {
  margin: 0;
  line-height: normal;
}

:root {
  /* Figma Variables */

  /* Spacing */
  --Static-Display-Medium-Tracking: 0px;
  --Static-Display-Small-Line-Height: 44px;

  /* Font */
  --Tipografia-SENA: work sans;

  /* Common Style Variables */

  /* Color */
  --color-black: #000;
  --color-gainsboro: #e6e6e6;
  --color-gray: #1c1b1f;
  --color-red: #ff0404;
  --color-seagreen: #007832;
  --color-white: #fff;

  /* Padding */
  --padding-0: 0px;
  --padding-6: 6px;
  --padding-22: 22px;
  --padding-30: 30px;

  /* Font */
  --font-roboto: Roboto;
  --font-work-sans: Work Sans;

  /* FontSize */
  --fs-16: 16px;
  --fs-19: 19px;
  --fs-20: 20px;
  --fs-24: 24px;
  --fs-32: 32px;

  /* LineHeights */
  --lh-26: 26px;
  --lh-44: 44px;
  --lh-36_7: 36.7px;
}
