.inicio-secion {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 129px var(--padding-30) 272.9px 39px;
  box-sizing: border-box;
  isolation: isolate;
  line-height: normal;
  letter-spacing: normal;
}
.inicio-secion-child {
  height: 63.3px;
  width: 756.3px;
  position: absolute;
  margin: 0 !important;
  bottom: 217.9px;
  left: calc(50% - 352.5px);
  object-fit: contain;
  z-index: 2;
  flex-shrink: 0;
}
.login-card {
  height: 678.1px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 659px;
  z-index: 1;
  flex-shrink: 0;
  text-align: left;
  font-size: 35px;
  color: var(--color-black);
  font-family: var(--font-work-sans);
}
.frame-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-6) var(--padding-0) 36.1px;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
  color: var(--color-gray);
  font-family: var(--font-roboto);
}
.frame,
.frame2 {
  flex: 1;
  display: flex;
  align-items: center;
}
.frame {
  border-radius: 39px;
  justify-content: center;
  padding: 29px var(--padding-30) 25.4px;
  box-sizing: border-box;
  background-image: url('/Frame1@3x.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 332px;
}
.frame2 {
  justify-content: flex-end;
  max-width: 221px;
}
.frame3 {
  height: 36px;
  width: 150.6px;
  position: relative;
  background-image: url('/Frame@3x.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.sica {
  position: absolute;
  top: -35px;
  left: 16.7px;
  line-height: var(--lh-44);
  font-weight: 500;
  display: flex;
  align-items: center;
  min-width: 124.9px;
  flex-shrink: 0;
}
.sica-txt {
  width: 100%;
}
.sica2,
.span {
  line-height: var(--lh-44);
}
.span {
  white-space: pre-wrap;
}
.sica2 {
  font-size: var(--fs-32);
}
.login-card-inner {
  width: 284.3px;
  height: 78.2px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) 36.5px 4px;
  box-sizing: border-box;
  z-index: 2;
  margin-top: -3.5px;
  position: relative;
}
.frame-child {
  height: 41.7px;
  width: 279.7px;
  position: relative;
  object-fit: contain;
}
.bienvenido-de-nuevo {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) 12px 8.1px var(--padding-0);
  box-sizing: border-box;
  max-width: 336.9px;
  z-index: 3;
  margin-top: -3.5px;
  position: relative;
  font-size: var(--fs-32);
  color: var(--color-seagreen);
}
.bienvenido-de-nuevo2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: var(--Static-Display-Small-Line-Height);
  font-weight: 500;
  font-family: inherit;
  transform: rotate(-0.5deg);
}
.ingresa-tus-credenciales-insti {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-6) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  max-width: 654.9px;
  z-index: 4;
  margin-top: -3.5px;
  position: relative;
  font-size: var(--fs-20);
}
.ingresa-tus-credenciales {
  flex: 1;
  position: relative;
  line-height: var(--lh-36_7);
  font-weight: 200;
  display: inline-block;
  transform: rotate(-0.5deg);
  max-width: 100%;
}
.email-field-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  max-width: 100%;
  z-index: 5;
  margin-top: -3.5px;
  position: relative;
  font-size: 21px;
}
.correo-electronico {
  width: 100%;
  position: relative;
  line-height: var(--lh-44);
  display: inline-block;
  transform: rotate(-0.5deg);
  max-width: 543.2px;
}
.frame4,
.mecha-protocol {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.mecha-protocol {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) 1px;
}
.frame4 {
  height: 69px;
  flex: 1;
  border-radius: 33px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  padding: 13.2px var(--padding-22) 5.8px;
}
.usuariosenaeduco {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 100;
  font-family: var(--font-work-sans);
  font-size: var(--fs-24);
  background-color: transparent;
  height: 48px;
  flex: 1;
  position: relative;
  line-height: var(--lh-44);
  text-align: left;
  display: flex;
  align-items: center;
  transform: rotate(-0.5deg);
  min-width: 228px;
  max-width: 380.7px;
  padding: 0;
}
.password-field-group {
  width: 100%;
  height: 163.5px;
  position: relative;
  max-width: 658px;
  z-index: 6;
  margin-top: -3.5px;
  font-size: 14px;
}
.frame5,
.no-recuerdas-tu {
  position: absolute;
  display: flex;
}
.no-recuerdas-tu {
  top: 127.01px;
  left: -0.5px;
  line-height: var(--lh-36_7);
  font-weight: 500;
  color: var(--color-seagreen);
  align-items: center;
  transform: rotate(-0.5deg);
  transform-origin: 0 0;
}
.frame5 {
  top: 60.3px;
  left: 1.6px;
  border-radius: 33px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 656px;
  align-items: flex-start;
  padding: 17.1px var(--padding-22) 12.3px;
  isolation: isolate;
  font-size: var(--fs-24);
}
.password-field-space,
.password-field-space-container {
  font-weight: 100;
  display: inline-block;
  transform: rotate(-0.5deg);
  flex-shrink: 0;
}
.password-field-space {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-work-sans);
  font-size: var(--fs-24);
  background-color: transparent;
  height: 40px;
  position: relative;
  line-height: var(--lh-36_7);
  text-align: left;
  padding: 0;
  z-index: 2;
}
.password-field-space-container {
  margin: 0 !important;
  position: absolute;
  top: -35.65px;
  left: calc(50% - 159px);
  font-size: inherit;
  line-height: 32.8px;
  font-family: inherit;
  transform-origin: 0 0;
  min-width: 17px;
  z-index: 1;
}
.span2,
.span3 {
  line-height: 32.8px;
}
.span3 {
  color: var(--color-red);
}
.contrasea {
  position: absolute;
  top: 14.56px;
  left: -0.5px;
  font-size: 21px;
  line-height: var(--lh-36_7);
  display: flex;
  align-items: center;
  transform: rotate(-0.5deg);
  transform-origin: 0 0;
}
.recordar-mi-inicio,
.remember-me-row {
  position: relative;
  display: flex;
  align-items: center;
}
.remember-me-row {
  align-self: stretch;
  justify-content: center;
  padding: 5.5px 27px 6.4px var(--padding-0);
  z-index: 7;
  margin-top: -3.5px;
  font-size: var(--fs-16);
}
.recordar-mi-inicio {
  width: 280.6px;
  line-height: var(--lh-36_7);
  flex-shrink: 0;
  transform: rotate(-0.5deg);
  z-index: 1;
}
.rectangle-input {
  height: 14.6px;
  width: 14px;
  padding: 1.6px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  z-index: 2;
  margin: 0 0 0 -38.9px;
  position: relative;
}
.action-buttons-row,
.back-button,
.rectangle-input {
  display: flex;
  align-items: flex-start;
}
.action-buttons-row {
  align-self: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-0) 11px var(--padding-0) var(--padding-0);
  gap: 10px 69.2px;
  z-index: 8;
  margin-top: -3.5px;
  position: relative;
}
.back-button {
  flex: 1;
  padding: 1.8px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  min-width: 60px;
  max-width: 141px;
}
.continue-button {
  cursor: pointer;
  border: 0;
  padding: 10px var(--padding-0) 8.3px;
  background-color: var(--color-white);
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.continue-button:hover,
.password-field:hover {
  background-color: var(--color-gainsboro);
}
.volver {
  position: relative;
  font-size: var(--fs-20);
  line-height: var(--lh-36_7);
  font-family: var(--font-work-sans);
  color: var(--color-black);
  text-align: left;
  transform: rotate(-0.5deg);
}
.password-field {
  cursor: pointer;
  border: 0;
  padding: 9.2px 24px 9.2px 20px;
  background-color: var(--color-white);
  height: 56.3px;
  box-shadow: 0 4px 4px var(--color-seagreen);
  border-radius: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.continuar {
  position: relative;
  font-size: var(--fs-20);
  line-height: var(--lh-36_7);
  font-family: var(--font-work-sans);
  color: var(--color-black);
  text-align: left;
  transform: rotate(-0.5deg);
}
@media screen and (max-width: 750px) {
  .login-card {
    max-width: 100%;
  }
  .bienvenido-de-nuevo2 {
    font-size: 26px;
    line-height: 35px;
  }
  .password-field-group {
    max-width: 100%;
  }
}
@media screen and (max-width: 675px) {
  .correo-electronico,
  .ingresa-tus-credenciales-insti {
    max-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .bienvenido-de-nuevo2 {
    font-size: var(--fs-19);
    line-height: var(--lh-26);
  }
  .ingresa-tus-credenciales {
    font-size: var(--fs-16);
    line-height: 29px;
  }
  .correo-electronico {
    font-size: 17px;
    line-height: 35px;
  }
  .usuariosenaeduco {
    font-size: var(--fs-19);
    line-height: 35px;
    max-width: 100%;
  }
  .password-field-space {
    font-size: var(--fs-19);
    line-height: 29px;
  }
  .password-field-space-container {
    font-size: var(--fs-19);
    line-height: var(--lh-26);
  }
  .contrasea {
    font-size: 17px;
    line-height: 29px;
  }
  .action-buttons-row {
    gap: 35px;
  }
  .volver {
    font-size: var(--fs-16);
    line-height: 29px;
  }
}
